# Laravel
/vendor
/node_modules
.env*
.phpunit.result.cache
.phpactor.json
Homestead.yaml
Homestead.json
/.phpunit.cache
/storage/*.key
/storage/pail
/public/storage

# Laravel build artifacts (Vite, Mix, Hot)
/public/hot
/public/build
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

# IDEs and editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# macOS, Windows
.DS_Store
Thumbs.db

# Composer auth
auth.json

# Backups
.env.backup
.env.production

# Test artifacts
/tests/coverage/
coverage.xml

# System
*.log

# Others (opsional)
*.sqlite
